<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{result.getType}}</title>
    </head>
    <body>
        <h2>{{result.getType}} Food!</h2>
        <h3>Price Level: {{result.getPrice}}</h3>
        <h3>Size Level: {{result.getSize}}</h3>
        <h3>Spice Level: {{result.getSpice}}</h3>
        <a href="/">Go home</a>
        <a href="/editcuisine/{{result.getId}}">Edit This Cuisine</a>
        <form class="" action="/deletecuisine/{{result.getId}}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" name="button">Delete This Cuisine</button>
        </form>
    </body>
</html>
