<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>




  <div class="inline-block">

    <h3 class="inline">
      hello {{user.getUsername}}
    </h3>
    <h3>LOG IN:  </h3>
    <form class="text-align-right" action="/login" method="post">
      <nobr>
        <label for="username">username</label>
        <input type="text" name="username" value="">
        <label for="password">password</label>
        <input type="text" name="password" value="">
        <button type="submit" name="button">log in</button>
      </nobr>
    </form>
  </div>
  <h1>PERSONAL SOCIAL RESTAURANT COMPLETE</h1>
  <div class="inline-block">

    <h3>SIGN UP:  </h3>
    <form class="" action="/signup" method="post">
      <nobr>
        <label for="username">username</label>
        <input type="text" name="username" value="">
        <label for="password">password</label>
        <input type="text" name="password" value="">
        <button type="submit" name="button">sign up</button>
      </nobr>
    </form>
  </div>
  <div class="inline-block">

    <h3>Add a Cuisine</h3>
    <form class="" action="/addcuisine" method="post">
      <label for="type">Type</label>
      <input type="text" name="type" value="">
      <label for="spice">Spice</label>
      <select class="" name="spice">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="price">Price</label>
      <select class="" name="price">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="Size">Size</label>
      <select class="" name="size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit" name="button">ADD IT</button>
    </form>
  </div>
  <div class="inline-block">

    <h3>Add a Restaurant</h3>
    <form class="" action="/addrestaurant" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <label for="cuisine_id">Type</label>
      <select name="cuisine_id">
        {% for result in cuisine %}
        <option value ='{{result.getId}}'>{{result.getType}}</option>
        {% endfor %}
      </select>
      <label for="spice">Spice</label>
      <select class="" name="spice">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="price">Price</label>
      <select class="" name="price">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="Size">Size</label>
      <select class="" name="size">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit" name="button">ADD IT</button>
    </form>
  </div>



  <div class="float-left">

    <h3>Your Current Cuisines</h3>
    <ul>

      {% for result in cuisine %}
      <li>  <a href="/cuisine/{{result.getId}}">{{result.getType}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="float-right">

    <h3>Your Current Restaurants</h3>
    <ul>

      {% for result in restaurant %}
      <li>  <a href="/restaurant/{{result.getId}}">{{result.getName}}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
